.main-layout-component {

    .main-layout-component-header {

        background-color: #404040;
        padding: 42px;
        margin-bottom: 12px;

    }

    .main-layout-component-main {

        background-color: #505050;
        padding: 42px;

    }

}
a {
    color: aliceblue;
}