.terceira-aula-main {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 20px 50px;
    width: 100%;
    
    margin: 0 auto;
  
    h2 {
      color: rgb(255, 0, 0);
      margin-bottom: 20px;
    }
    p {
      color: azure;
      font-size: small;
    }
    li {
      color: rgb(175, 175, 175);
    }
  }